<nav class="nav_bar">
  <div class="left_quiz">
    <a href="/" class="brand">Quiz<span class="dot">.</span></a>
  </div>
  <div class="right_quiz">
    <ul class="nav_links">
        <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/category">Category</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </div>
</nav>
