<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="/style/category.css">
    <link rel="stylesheet" href="/style/nav.css">
</head>
<body class="category-body">

    <%- include('partials/nav') %>

    <header class="page-header">
        <h2 class="heading">Master DSA & CS Concepts</h2>
    </header>

    <main class="category-main">
        <div class="grid-container">
            <div class="grid-item" id="arrayDiv">Array</div>
            <div class="grid-item" id="LinkedListDiv">Linked List</div>
            <div class="grid-item" id="stackDiv">Stack</div>
            <div class="grid-item">Queue</div>
            <div class="grid-item">Tree</div>
            <div class="grid-item">Graph</div>
            <div class="grid-item">Recursion</div>
            <div class="grid-item">Backtracking</div>
            <div class="grid-item dp">Dynamic Programming</div>
            <div class="grid-item">Greedy</div>
            <div class="grid-item">Sliding Window</div>
            <div class="grid-item">Hashing</div>
            <div class="grid-item">OOPs</div>
            <div class="grid-item">DBMS</div>
            <div class="grid-item">Operating Systems</div>
            <div class="grid-item">Computer Networks</div>
            <div class="grid-item">System Design</div>
            <div class="grid-item">Aptitude</div>
            <div class="grid-item">Coding Patterns</div>
            <div class="grid-item">CS Fundamentals</div>
        </div>

        <div class="btn-container">
            <a href="/" class="btn">Home</a>
        </div>

    </main>
 <script src ="/script/category.js"></script>
</body>
</html>
