<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DSA Quiz Arena - Profile</title>
  <link rel="stylesheet" href="/style/profile.css">
  <link rel="stylesheet" href="/style/nav.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="main-body">
  <%- include('partials/nav') %>

  <div class="profile-container">
    <h1 class="page-title">User Profile</h1>

    <div class="grid-wrapper">
      <!-- Profile Card -->
      <div class="profile-card">
        <div class="profile-content">
          <h2 class="username"></h2>


          <!-- Circle Percentage for Quizzes -->
          <div class="progress-wrapper">
            <canvas id="progressCircle" width="200" height="200"></canvas>
            <p class="progress-text">0%</p>
          </div>

          <p class="quiz-info" >Total Quizzes Taken: <span class="bold"id="quiz-taken" >1</span></p>
          <p class="quiz-info" >Highest Score: <span class="bold" id="high-score">0/0</span></p>
        </div>
      </div>

      <!-- Leaderboard Section -->
      <div class="leaderboard">
        <h2 class="leaderboard-title">Leaderboard</h2>

      </div>
    </div>

    <div class="btn-container">
      <a href="/" class="btn logout">Log Out</a>
      <a href="/category" class="btn categories">Categories</a>
    </div>
  </div>

<script src="/script/profile.js"></script>
</body>
</html>
